@font-face {
    font-family: Lato_light;
    src: url(../../GoogleFonts/Lato/Lato-Light.ttf);
}
@font-face {
    font-family: Lato_regular;
    src: url(../../GoogleFonts/Lato/Lato-Regular.ttf);
}
@font-face {
    font-family: Lato_bold;
    src: url(../../GoogleFonts/Lato/Lato-Bold.ttf);
}
@font-face {
    font-family: Jost_light;
    src: url(../../GoogleFonts/Jost/static/Jost-Light.ttf);
}
@font-face {
    font-family: Jost_regular;
    src: url(../../GoogleFonts/Jost/static/Jost-Regular.ttf);
}
@font-face {
    font-family: Jost_bold;
    src: url(../../GoogleFonts/Jost/static/Jost-Bold.ttf);
}

#Service_4 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background-color: var(--white-color);
    padding: 6rem 0 8rem 0;
}

#Service_4 .Container {
    display: flex;
    justify-content: center;
    gap: 3rem;
    width: 80%;
}

#Service_4 .title_section {
   width: 29rem;
    box-sizing: border-box;
}

#Service_4 .title_section p {
    font-size: 1.5rem;
    font-family: Lato_regular;
    color: rgb(51, 51, 51);
}

#Service_4 .title_section h2 {
    font-size: 3.1rem;
    font-family: Lato_bold;
    font-weight: bold;
    color: var(--main-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family: Arial, Helvetica, sans-serif;
    margin: 2rem 0;
}


#Service_4 .title_section button {
    padding: .7rem 2.6rem;
    background-color: black;
    border-radius: .2rem;
    border: none;
    color: white;
    font-weight: bold;
    font-size: .9rem;
    cursor: pointer;
}

#Service_4 .Containt {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 60%;
    box-sizing: border-box;
}

#Service_4 .Containt .service1 {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    gap: 2rem;
    /* margin: 1rem 0; */
}

#Service_4 .Containt .icon {
    min-width: 6rem;
    height: 6rem;
    border-radius: 10rem;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

#Service_4 .Containt .service1 i{
    color: var(--main-black);
    scale: 3;
    
}


#Service_4 .Containt h4 {
    margin: 0;
    font-size: 1.4rem;
    font-family: Lato_regular;
    font-family: Jost_regular;
    color: rgb(58, 58, 58);
}

#Service_4 .Containt p {
    font-size: 1rem;
    font-family: Lato_regular;
    line-height: 1.6rem;
    color: rgb(54, 54, 54);
    margin: 0;
}


@media (max-width: 1200px) {
    #Service_4 .Container {
        flex-direction: column;
    }

    #Service_4 .Container .title_section {
       width: 100%;
    }
    
    #Service_4 .Container .Containt{
       width: 100%;
    }
}

@media (max-width: 501px) {
    #Service_4 .Container {
    width: 90%;
}


    #Service_4 .Containt .service1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 1rem;
        border-radius: .5rem;
        box-sizing: border-box;
        padding: 1.5rem 1rem;
        background-color: white;
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.185);
    }

     #Service_4 .Containt h4 {
        margin-bottom: .6rem;
    }


    #Service_4 .title_section {
   width: 100%;
}

#Service_4 .title_section p {
    font-size: 1.3rem;
}

#Service_4 .title_section h2 {
    font-size: 2rem;
    margin: 1.52rem 0;
}


#Service_4 .title_section button {
    padding: .7rem 2.6rem;
    font-weight: 100;
    font-size: .9rem;
}

}