#Service2 .Process_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    /* margin-top: 6rem; */
    padding-top: 1rem;
    padding: 10rem 0 10rem 0;
    /* margin-bottom: 5rem; */
    /* background-color: rgba(173, 216, 230, 0.243); */
}

#Service2 .process_containt {
    width: 80%;
}




#Service2 .title_section {
    text-align: center;
}

#Service2 .title_section h4 {
    margin: 0;
    font-family: Lato_light;
    font-size: 1.2rem;
    color: var(--main-color);
    /* color: white; */
}

#Service2 .title_section h2 {
    margin: 0;
    font-family: Lato_regular;
    font-size: 2rem;
    color: rgb(53, 52, 52);
    color: var(--main-black);
}

/* #Service2 .process_containt h2 {
    position: relative;
    font-size: clamp(1.3rem, 1.7vw, 10vw);
    color: rgba(0, 0, 0, 0.843);
} */


/* #Service2 .process_containt h2::before,
#Service2 .process_containt h2::after {
    content: "";
    position: absolute;
    width: 5rem;
    height: .152rem;
    border-radius: 1rem;
    bottom: -0.2rem;
    left: 0;
    background-color: var(--main-color);
} */

#Service2 .process_containt h2::after {
   bottom: -.7rem;
   width: 3rem;
   
}




#Service2 .process_containt .process {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    justify-content: center;
    width: 100%;
    padding-top: 4rem;
    row-gap: 1rem;
}






#Service2 .process_containt .process .single_process {
    display: flex;
    flex-direction: column;
    align-items: center;
}


#Service2 .process_containt .process .single_process p {
    text-align: center;
    font-weight: 600;
    font-size: 1.1rem;
    margin-top: 1rem;
    width: 95%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#Service2 .process_containt .process .single_process .icon_box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 8rem;
    height: 8rem;
    border-radius: 10rem;
    border: 2px solid var(--main-color);
}

#Service2 .process_containt .single_process .icon_box i {
    font-size: 3rem;
}

#Service2 .process_containt .single_process .icon_box .bi-chevron-double-right {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    cursor: pointer;
    font-size: 1rem;
    right: -1.4rem;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 10rem;
    border: 1px solid var(--main-color);
    background-color: var(--main-color);
    color: white;
    
} 


@media (max-width: 501px) {
    #Service2 .Process_container {
    padding-bottom: 4rem;
}


    #Service2 .process_containt {
    width: 90%;
}


    #Service2 .process_containt .process {
        grid-template-columns: 1fr 1fr;
    }

    #Service2 .process_containt .process .single_process .icon_box {
    width: 20vw;
    height: 20vw;
}

#Service2 .process_containt .single_process .icon_box i {
    font-size: 7vw;
}

#Service2 .process_containt .single_process .icon_box .bi-chevron-double-right {
    font-size: 4vw;
    right: -5vw;
    width: 9vw;
    height: 9vw;    
} 
}
























