@font-face {
    font-family: Jost_light;
    src: url(../../GoogleFonts/Jost/static/Jost-Light.ttf);
}

@font-face {
    font-family: Lato_regular;
    src: url(../../GoogleFonts/Lato/Lato-Regular.ttf);
}


#About_3 {
    display: flex;
    justify-content: center;
    width: 100vw;
    
    /* background-color: rgba(107, 0, 165, 0.057); */
    /* background-color: var(--white-color); */
    padding: 6rem 0;
}

#About_3 .Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#About_3 .Containt {
    
    width: 80%;
    display: flex;
    justify-content: center;
    gap: 4rem;
}


#About_3 .title_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
}
#About_3 .title_section h1 {
    font-size: 3rem;
    font-family: Jost_light;
    margin: 0;
    color: rgba(0, 0, 0, 0.875);
}

#About_3 .title_section p {
    margin: 0;
    color: rgba(0, 0, 0, 0.722);
    font-size: 1.2rem;
    width: 80%;
    text-align: center;
    font-family: Jost_light;
}

#About_3 .Container .img_box {
    position: relative;
    
    width: 28%;
    min-width: 20rem;
    height: 28rem;
}

#About_3 .Container .img_box2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: .21rem;
    
    background-color: var(--main-black);
    overflow: hidden;
    box-sizing: border-box;
    border-top-left-radius: 10rem;
    border-bottom-right-radius: 10rem;
    box-shadow: 0 0 1rem var(--box-shadodw-color);

}



#About_3 .Container .img_box2 img{
    /* transform: translate(-0rem, 6rem); */
    /* object-position: top; */
     /* filter: contrast(110%); */
     margin-left: 1.8rem;


}


#About_3 .Container .img_design,
#About_3 .Container .img_design2 {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0rem;
    top: 0rem;
    border-radius: .21rem;
    background-color: var(--main-color);
    
    
}

#About_3 .Container .img_design2 {
   bottom: 0rem;
   top: unset;
   left: unset;
   right: 0rem;
}



#About_3 .Container .description {
    
    width: 60%;
}

#About_3 .Container h4 {
    font-family: Lato_regular;
    font-size: 1.2rem;
    margin: 0 0 1rem 0;
    color: rgb(72, 72, 72);
}

#About_3 .Container .description h2 {
    font-size: 2.5rem;
    position: relative;
    margin: 0;
    line-height: 3rem;
    font-family: Jost_light;
    color: rgba(0, 0, 0, 0.809);
    color: var(--main-color);
}


#About_3 .Container .description p {
    font-size: 1.2rem;
    line-height: 1.7rem;
    color: rgba(0, 0, 0, 0.926);
    font-family: Jost_light;
    margin-bottom: .5rem;
}

#About_3 ul {
    background-color: white;
    padding: 1rem 1rem 1rem 2.5rem;
    border-radius: .31rem;
    /* box-shadow: 0 0 1rem var(--box-shadodw-color); */
    border: 1px solid var(--main-color);
    margin-top: 1rem;
    background-color: var(--main-black);
}

#About_3 ul .about_point_title {
    color: white;
    color: var(--main-color);
    transform: translateX(-1.2rem);
    /* display: none; */
    font-family: Lato_light;
}



#About_3  ul li {
    color: rgba(0, 0, 0, 0.657);
    color: white;
    font-size: 1.15rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: .4rem 0;
    /* color: black; */
}



#About_3 .Container .btn_section {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
}

#About_3 .Container .btn_section button {
    /* padding: .6rem 2rem; */
    width: 10rem;
    height: 2.5rem;
    font-size: .95rem;
    font-weight: bold;
    cursor: pointer;
}

#About_3 .Container .btn_section .voir_plus {
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    color: white;
    border-radius: .5rem;
}

#About_3 .Container .btn_section .contactez_moi {
    background-color: transparent;
    border: 1px solid var(--main-color);
    color: var(--main-color);
    border-radius: .5rem;
}




@media (max-width: 900px) {
    #About_3 .Containt {
        flex-direction: column;
        align-items: center;
        width: 90%;
    }

    #About_3 .Container .description {
        width: 100%;
        margin-top: 2rem;
    }
}


@media (max-width: 501px) {

    #About_3 .Containt {
    gap: 0rem;
}
        #About_3 .title_section h1 {
    font-size: 2rem;
}

    #About_3 .title_section p {
    font-size: 1.1rem;
    width: 95%;
}

#About_3 .Container .img_box {
    /* width: 90vw; */
    /* min-width: 0rem; */
    /* height: 23rem; */

}


#About_3 .Container .img_box img {
    /* width: 32rem; */
    /* scale: 1.3; */
    /* width: 180vw; */
}


#About_3 .Container .description h2 {
    font-size: 2rem;
}

#About_3 .Container .btn_section {
    gap: .5rem;
    justify-content: center;
    align-items: center;
}

#About_3 .Container .btn_section button {
    width: 40vw;
}
}

@media (max-width: 375px) {
    #About_3 .Container .img_box {
    width: 85vw;
    min-width: 0rem;
    height: 23rem;
}


#About_3 .Container .img_box img {
    width: 32rem;
    width: 160vw;
}

}