/* html {
    --section-bg: #ffffff;
    --main-color: #11a372;
    --main-color-dark: #03583c;
    --main-light: #11a3721e;
} */

html {
    scroll-behavior: smooth;
}




#Footer_1 .footer_container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background-color: rgba(10, 26, 39, 0.90);
    color: white;
}

#Footer_1 .footer_containt {
    display: flex;
    justify-content: center;
    gap: 2rem;
    width: 90%;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

#Footer_1 .block {
    width: 25%;
    display: flex;
    flex-direction: column;
    /* gap: 1.5rem; */
}


#Footer_1 .block .info{
    margin-bottom: 2rem;
}

#Footer_1 .block .info p {
    margin: 0;
}

#Footer_1 .block p{
   margin: .7rem 0;
}

#Footer_1 .block h2 {
    margin-bottom: 3rem;
    border-left: .3rem solid var(--main-color);
    padding-left: .5rem;
}

#Footer_1 p {
    font-size: 1.061rem;
    font-size: 1.1rem;
}

#Footer_1 .block1 p {
    color: rgb(209, 209, 209);
    line-height: 2rem;
    margin-bottom: 2rem;
}

#Footer_1 .block1 .icon_section {
    display: flex;
    gap: 1rem;
    font-size: 1.2rem;
}

#Footer_1 .block1 .icon_section i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 1px solid white;
}

#Footer_1 .block1 .icon_section i:hover {
    cursor: pointer;
    color: var(--main-color);
}

#Footer_1 .block1, .block4 {
    width: 35%;
}



#Footer_1  .Link{
   color: white;
   margin: .5rem 0;
   font-size: 1.1rem;
}

#Footer_1  .Link:hover{
   color: var(--main-color);
}



#Footer_1 .block2 p:hover, .block3 p:hover {
    cursor: pointer;
    color: var(--main-color);
}

#Footer_1 .block4 .images_section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* flex-wrap: wrap; */
    align-items: center;
    gap: .5rem;
    column-gap: .8rem;
}



#Footer_1 .block4 img {
    object-fit: cover;
    cursor: pointer;
    width: 100%;
    height: 6rem;
    border-radius: .41rem;
    border: .12rem solid var(--main-color);
    border: .12rem solid white;
}







#Footer_1 .image_bg {
    position: absolute;
    object-fit: cover;
    height: 100%;
    width: 100%;
    z-index: -1;
}


@media (max-width: 1050px) {
   #Footer_1 .footer_containt {
       display: grid; 
       grid-template-columns: 1fr 1fr;
   }

   #Footer_1 .block {
    width: 100%;
}
}

@media (max-width: 600px) {
    #Footer_1 .footer_containt {
        display: grid; 
        grid-template-columns: 1fr;
        gap: 4rem;
    }
 
    #Footer_1 .block {
        text-align: center;
    } 

    #Footer_1 .block1 .icon_section {
        justify-content: center;
    }

    #Footer_1 .block4 .images_section {
        justify-content: center;
    }
#Footer_1 .block h2 {
    margin-bottom: 0rem;
    border: .1rem solid rgba(255, 255, 255, 0.26);
    padding: .2rem;
    margin-bottom: 1rem;
}


 }