@font-face {
    font-family: Lato_light;
    src: url(../../GoogleFonts/Lato/Lato-Light.ttf);
}
@font-face {
    font-family: Lato_regular;
    src: url(../../GoogleFonts/Lato/Lato-Regular.ttf);
}
@font-face {
    font-family: Lato_bold;
    src: url(../../GoogleFonts/Lato/Lato-Bold.ttf);
}
@font-face {
    font-family: Jost_light;
    src: url(../../GoogleFonts/Jost/static/Jost-Light.ttf);
}
@font-face {
    font-family: Jost_regular;
    src: url(../../GoogleFonts/Jost/static/Jost-Regular.ttf);
}
@font-face {
    font-family: Jost_bold;
    src: url(../../GoogleFonts/Jost/static/Jost-Bold.ttf);
}

@font-face {
    font-family: Jost_italic;
    src: url(../../GoogleFonts/Jost/static/Jost-LightItalic.ttf);
}


#Portfolio_4 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background-color: var(--main-color);
    padding: 6rem 0;
}
#Portfolio_4 .Container {
    width: 80%;
}

#Portfolio_4 .title_section {
    text-align: center;
}

#Portfolio_4 .title_section h4 {
    margin: 0;
    font-family: Lato_light;
    font-size: 1.2rem;
    color: var(--main-black);
}

#Portfolio_4 .title_section h2 {
    margin: 0;
    font-family: Lato_regular;
    font-size: 2rem;
    color: white;
}

#Portfolio_4 .categorie {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 3rem;
    
}

#Portfolio_4 .categorie button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    border: 1px solid lightgray;
    width: 5rem;
    padding: .4rem 0;
    font-size: .93rem;
    font-family: lato_regular;
    transition: .2s;
    cursor: pointer;
    background-color: white;
    border-radius: .3rem;
    color: var(--main-color);


    
}

#Portfolio_4 .categorie button:first-child {
    background-color: var(--main-color);
    color: white;
}

#Portfolio_4 .categorie button:hover {
    background-color: var(--main-color);
    color: white;
}








#Portfolio_4 main {
    display: grid;
    gap: 1rem;
    margin-top: 1.8rem;
}

#Portfolio_4 main .portfolio1:nth-child(1) { grid-area: 1 / 1 / 3 / 3; }
#Portfolio_4 main .portfolio1:nth-child(2) { grid-area: 1 / 3 / 2 / 4; }
#Portfolio_4 main .portfolio1:nth-child(3) { grid-area: 1 / 4 / 2 / 5; }
#Portfolio_4 main .portfolio1:nth-child(4) { grid-area: 2 / 3 / 3 / 4; }
#Portfolio_4 main .portfolio1:nth-child(5) { grid-area: 2 / 4 / 3 / 5; }




#Portfolio_4 main .portfolio1 {
    /* position: relative; */
    cursor: pointer;
    border-radius: 1rem;
    overflow: hidden;
    border: .3rem solid white;
    box-sizing: border-box;
    background-color: lightgray;
    background-color: var(--main-black);

}

#Portfolio_4 main .portfolio1 a {
    text-decoration: none;
}

#Portfolio_4 main .img_box {
    width: 100%;
    /* height: 100%; */
    overflow: hidden;
}


#Portfolio_4 main .img_box img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: top;
    transition: .5s;
}

#Portfolio_4 main .portfolio1:hover img{
    scale: 1.1;
}

#Portfolio_4 main .portfolio1 .description {
    /* position: absolute; */
    /* bottom: 0; */
    /* left: 0; */
    /* right: 0; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: rgb(51, 51, 51);
    text-align: center;
    margin: 0;
    padding: 1.2rem;
    transition: .2s;

    background-color: var(--main-color);
    background-color: var(--main-black);
    color: white;
    display: flex;

    border-top:  .2rem solid white; 
    
}

#Portfolio_4 main .portfolio1:nth-child(1) {
    /* height: 30rem; */
}


#Portfolio_4 main .portfolio1:hover .description {
    background-color: var(--main-black);
    background-color: var(--main-color);
    color: white;
    display: flex;
}

#Portfolio_4 main .portfolio1:nth-child(1) .description {
    background-color: var(--main-color);
    background-color: var(--main-black);
    color: white;
    display: flex;
}

#Portfolio_4 main .description h4 {
    margin: 0 0 0.5rem 0;
    font-size: 1.2rem;
    font-family: Lato_regular;
    text-decoration: none;

}


#Portfolio_4 main .description p {
    margin: 0;
    font-size: .91rem;
    font-family: Lato_regular;
    width: 100%;
}

#Portfolio_4 .btn_section {
    text-align: center;
    margin-top: 2rem;
}

#Portfolio_4 .btn_section button {
    padding: .7rem 2rem;
    border: none;
    background-color: var(--main-black);
    color: white;
    font-size: .9rem;
    border-radius: .3rem;
    cursor: pointer;
    transition: .3s;
}

#Portfolio_4 .btn_section button:hover {
    padding: .7rem 3rem;
} 


@media (max-width: 1000px) {
    #Portfolio_4 main .portfolio1:nth-child(1) { grid-area: 1 / 1 / 3 / 3; }
    #Portfolio_4 main .portfolio1:nth-child(2) { grid-area: 3 / 1 / 4 / 2; }
    #Portfolio_4 main .portfolio1:nth-child(3) { grid-area: 3 / 2 / 4 / 3; }
    #Portfolio_4 main .portfolio1:nth-child(4) { grid-area: 4 / 1 / 5 / 2; }
    #Portfolio_4 main .portfolio1:nth-child(5) { grid-area: 4 / 2 / 5 / 3; }

    #Portfolio_4 main .portfolio1:nth-child(1) {
    /* height: 20rem; */
}
}

@media (max-width: 800px) {
    #Portfolio_4 main {
    display: flex;
    gap: 2rem;
    flex-direction: column; 
}

    #Portfolio_4 main .portfolio1 .description {
    display: flex;
    background-color: var(--main-black);

    color: white;
}

     #Portfolio_4 main .portfolio1 img {
        /* height: 20rem; */
     }
}


/* 






.parent {
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(5, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.div1 { grid-area: 1 / 1 / 3 / 3; }
.div2 { grid-area: 1 / 3 / 2 / 4; }
.div3 { grid-area: 1 / 4 / 2 / 5; }
.div4 { grid-area: 2 / 3 / 3 / 4; }
.div5 { grid-area: 2 / 4 / 3 / 5; }


.parent {
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(5, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.div1 { grid-area: 1 / 1 / 3 / 3; }
.div2 { grid-area: 3 / 1 / 4 / 2; }
.div3 { grid-area: 3 / 2 / 4 / 3; }
.div4 { grid-area: 4 / 1 / 5 / 2; }
.div5 { grid-area: 4 / 2 / 5 / 3; }
 */





@media (max-width: 501px) {
    
#Portfolio_4 .Container {
    width: 90%;
}
    #Portfolio_4 main {
    grid-template-columns: 1fr;
    gap: 1rem;
}
#Portfolio_4 main .img_box {
}


#Portfolio_4 .categorie {
    gap: .5rem;
}

#Portfolio_4 .categorie p {
    padding: 0;
    height: 2rem;
    font-size: 1rem;
    
}
#Portfolio_4 .title_section h2 {
    font-size: 1.52rem;
}
}


