body {
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}



.Link {
    text-decoration: none; 
}




:root {
    --main-color: #ED193F;
    --main-color: #E76026;
    --main-black: #151515;
    --main-grak: #cecece;
}


html {
    background-color: rgb(238, 238, 238);

}





